.default {
  margin: 1rem;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 4rem;
  border-radius: 0.5rem;
}
.buttonOn {
  color: #fff;
  background-color: #22f;
}
.buttonOff {
  color: #aaa;
  background-color: #118;
}